
.App {
  text-align: center;
  color:blanchedalmond;
}

.Calculadora{
  height: 480px;
  width: 753px;
  border-radius: 300px;
  overflow: hidden;
  background-color:orangered;
color: crimson;
 display: grid;
 grid-template-columns: repeat(auto);
 grid-template-rows:subgrid;
 margin: auto;
}
.button{
background-color: black;
color: darkgoldenrod;
}
.Display{
  background-color: darkgoldenrod;
 margin: auto;;
 height: 130px;
color: whitesmoke;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: chartreuse;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:aqua;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
