.App {
  text-align: center;
}
.Calculadora{
  height: 380px;
  width: 753px;
  border-radius: 360px;
  overflow: hidden;
  background-color:black;
color: crimson;
 display: grid;
 grid-template-columns: repeat(auto);
 grid-template-rows:auto;
 margin: auto;

}

.Display{
  background-color: darkgoldenrod;
 margin: auto;;
 height: 130px;
color: white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
